@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List";
}


<h2>list</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>detials</th>
    </tr>
    <tr>
        <td>shyam</td>
        <td><a href="~/Home/detials?id=1">Details</a></td>
    </tr>
    <tr>
        <td>hari</td>
        <td><a href="~/Home/detials?id=2">Details</a></td>
    </tr>
</table>

