
@{
    ViewBag.Title = "login";
}

<h2>login</h2>
<hr/>
<form method="post" action="/account/validate">
    <label>Enter UserName</label><br/>
    <input type="text" name="uname" /><br />
    <label>Enter Password</label><br/>
    <input type="password" name="pass" /> <br/>
    <input type="submit" value="Login" />
</form>

