
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div> 
        <h1>200 mess</h1><h2>1 person visted</h2>
        <p>already have an account ?? <a href="~/Home/dLoad">Sign In</a></p>
    </div>
</body>
</html>
